@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.App {
  text-align: center;
  min-height: 100vh;
  position:relative;
}
.pink{
  color: #c41f3e;
  text-decoration: none;
}
.brand{
  font-family: 'Fredoka One', cursive;
}
.bg-custom{
  background-color: #0091DB;
}
.footer{
  position:absolute;
  margin-top: 5%;
  width:100%;
  padding: 1% 0;   
  background:#0dcaf0;
  color: #fff;
}